---
import TodoModal from "./TodoModal.astro";
// the footer link of where to go next
interface Guides {
  info: string;
  directions: [[info: string, ref: string]];
}

const { info, directions } = Astro.props as Guides;
---

<div style="font-size: larger; margin: 20px;">{info}</div>
<TodoModal>
  make links more stylish
</TodoModal>

{
  directions.map(([info, ref], index) => (
    <div>
      <a class="pale" id={`ref-${index + 1}`} href={ref}>
        {info}
      </a>
    </div>
  ))
}
