---
const { title, code } = Astro.props;
import Mode from "./Mode.astro";
import Symbols from "./Symbols.astro";
import { Icon } from 'astro-icon';
---

<div class="header">
  <h1 class="header__title">{title}</h1>
  <Symbols code={code} />
  <div style="flex: 0 0 30%;" />
  <Mode />
  <nav class="header__nav">
    <span class="header__nav-item"><a href=`${import.meta.env.BASE_URL}/overall`>
      <svg viewBox="0 0 24 24" width="32" height="32" style="filter: invert(1);">
        <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
      </svg>
    </a></span>
    <span class="header__nav-item"><a href="https://github.com/iscas-zac/sat-explain">
      <img 
      src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
      width="32"
      height="32"
      alt="GitHub"
      style="
        filter: invert(1);  
      "
    />
    </a></span>
  </nav>
</div>

<style>
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: sticky;
    top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }

  .header__title {
    margin: 0;
    font-size: 24px;
  }

  .header__nav-item {
    margin-right: 10px;
  }

  .header__nav-item a {
    color: #fff;
    text-decoration: none;
  }
</style>
