---
// object inline that will change according to mode settings
---

<div class="plain">fohadhfoad</div>
<div class="formula">zzzzz</div>
<div class="code"></div>
<div class="voice"></div>

<style>
    .plain {
        
    }
    
    .formula {
        display: none;
    }

    .code {
        display: none;
    }

    .voice {
        display: none;
    }
</style>