---
// object inline that will change according to mode settings
const { className } = Astro.props;

---

<span class={ className }><slot /></span>

<style>
    .invisible {
        display: none;
    }
</style>