<select id="mode" autocomplete="off" required>
  <option value="plain" selected>plain</option>
  <option value="formula">formula</option>
  <option value="code">code</option>
  <option value="voice">voice</option>
</select>

<style></style>

<script is:inline>
  const selectElement = document.getElementById("mode");
  console.log(selectElement);
  console.log(selectElement.value);
  selectElement.addEventListener("change", function () {
    for (const label of ["plain", "formula", "code", "voice"]) {
      for (const elem of document.getElementsByClassName(label)) {
        console.log(elem);
        (elem).style.display = "none";
      }
    }

    for (const elem of document.getElementsByClassName(selectElement.value)) {
      console.log(selectElement.value);
      (elem).style.display = "block";
    }
  });
</script>
