---
import "@fontsource/im-fell-dw-pica";
import "@fontsource/indie-flower";
var { color, contenteditable, font } = Astro.props;
if (contenteditable == null) contenteditable = false;
if (font == null) font = "IM Fell DW Pica";
const maxDegree = 5;
const randomRotation = `${Math.floor(
  Math.random() * maxDegree - maxDegree / 2
)}deg`;
---

<div contenteditable={ contenteditable }>
  <slot />
  <style define:vars={{ randomRotation, color, font }}>
    div {
      font-family: var(--font), sans-serif;
      font-size: 20px;
      line-height: 1.5;
      margin: 16px;
      transform: rotate(var(--randomRotation));
      background-color: var(--color);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      padding: 16px;
      max-width: 100%;
      z-index: 0;
    }

    div > p {
      font-size: larger;
      line-height: 1.5;
      margin: 16px;
      border-radius: 4px;
      padding: 16px;
      max-width: 100%;
    }
  </style>
</div>
