---
import "@fontsource/im-fell-dw-pica";
const { color } = Astro.props;
const maxDegree = 10;
const randomRotation = `${Math.floor(
  Math.random() * maxDegree - maxDegree / 2
)}deg`;
---

<div>
  <slot />
  <style define:vars={{ randomRotation, color }}>
    div {
      font-family: "IM Fell DW Pica", sans-serif;
      font-size: 20px;
      line-height: 1.5;
      margin: 16px;
      transform: rotate(var(--randomRotation));
      background-color: var(--color);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      padding: 16px;
    }
  </style>
</div>
