---
const {
  title,
  language,
  default_content = "",
} = Astro.props;

---

<div class="textarea-header">
  <h2>{ title }</h2>
</div>

<style>
  .textarea-header {
    background-color: #f5f5f5;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border: 1px solid #333;
  }

  .textarea-header h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    font-size: 18px;
    color: #333;
  }
</style>

<div
  id="code-editor"
  style="width: 100%; height: 300px; border: 1px solid grey"
  data-language={ language }
  data-title={ title }
  data-default={ default_content }
>
</div>

<div id="button-place"></div>
