---
import NoteStyle from "./NoteStyle.astro";
const { name } = Astro.props;

function hashCode(str: string): number {
  var hash = 0,
    i,
    chr;
  if (str.length === 0) return hash;
  for (i = 0; i < str.length; i++) {
    chr = str.charCodeAt(i);
    hash = (hash << 5) - hash + chr;
    hash |= 0; // Convert to 32bit integer
  }
  return hash;
  // var h: number = 0;
  // for (var i = 0; i < str.length; i++) {
  //     h = 31 * h + str.charCodeAt(i);
  // }
  // return h & 0xFFFFFFFF
}

const h1 = Math.abs(hashCode(name + "999999999") % 256);
const h2 = Math.abs(hashCode(name + "22") % 256);
const h3 = Math.abs(hashCode(name + "4444") % 256);
const backgroundColor = "rgb(" + h1 + ", " + h2 + ", " + h3 + ")";
---

<style>
  img {
    width: 80px;
    height: 80px;
  }
</style>
<div style="display: flex; align-items: center;">
  {
    name === "A" && (
      <img
        src=`${import.meta.env.BASE_URL}student1.svg`
        alt="a curious 10-year-old looking to the left, sketch, parchment, pencil, simple lineart, comic style"
      />
    )
  }
  {
    name === "B" && (
      <img
        src=`${import.meta.env.BASE_URL}student2.svg`
        alt="a thoughtful 18-year-old looking to the left, sketch, parchment, pencil, simple lineart, comic style"
      />
    )
  }
  {
    name === "you" && (
      <img
        src=`${import.meta.env.BASE_URL}student-unknown.svg`
        alt="a mysterious person under a fancy cloak, slightly looking to the right, simple lineart, parchment, comic style, sketch"
      />
    )
  }
  <NoteStyle color={backgroundColor} contenteditable={ name === "you" }
    font = { name == "you" ? "Indie Flower" : "IM Fell DW Pica" }>
    <slot />
  </NoteStyle>
</div>

