<div>
    <slot class="teacher" />
    <style>
        div {
            margin-left: 15%;
            margin-right: 20%;
            margin-top: 10px;
            margin-bottom: 10px;
            background-color: aquamarine;
        }
    </style>
</div>