---
import NoteStyle from "./NoteStyle.astro";
---

<div style="display: flex; align-items: center;">
  <NoteStyle color="aquamarine">
    <slot class="teacher" />
  </NoteStyle>
  <img src="/teacher.jpg" alt="a wise teacher in pencil scratch style on parchment" width="80px" height="80px">
</div>